.pageContainer {
  height: 100%;
  flex: 1;
  display: flex;
  overflow: hidden;
}

.chatArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.modelSelectContainer {
  padding: 10px;
}

.centerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.title {
  font-size: 32px;
  font-weight: 600;
  color: #222;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 40px;
}

.middleSenderContainer {
  width: 50%;
}

.chatContent {
  flex: 1;
  min-height: 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.splitter {
  flex: 1;
}

.splitterPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messageListContainer {
  flex: 1;
  overflow: hidden;
}

.bottomSenderWrapper {
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.bottomSenderContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.confirmModal :global(.ant-modal-body) {
  padding: 24px;
}
